@tailwind base;
@tailwind components;
@tailwind utilities;


.loaderWrap {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px
}

svg,
svg circle {
    fill: #3b93eb;
}

@keyframes from0to360 {
    from{transform:rotate(0);}
    to{transform:rotate(360deg);}
}

#Circle1 {
    animation: from0to360 3s linear infinite;
    cx: 170;
    cy: 145;
    r: 100;
    transform-origin: 165px 150px;
}

@keyframes from360to0 {
    from{transform:rotate(360deg);}
    to{transform:rotate(0deg);}
}

#Circle2 {
    animation: from360to0 2s linear infinite;
    cx: 180;
    cy: 155;
    r: 130;
    transform-origin: 155px 150px;
}

#Circle3 {
    animation: from0to360 3s linear infinite;
    cx: 145;
    cy: 150;
    r: 100;
    transform-origin: 150px 145px;
}

#Circle4 {
    animation: from360to0 2.5s linear infinite;
    cx: 155;
    cy: 150;
    r: 100;
    transform-origin: 150px 155px;
}